body {
  font-family: 'Raleway', sans-serif;
  color: #404041;
}

.name {
  color: #02b7e2;
}

.seen {
  color: #f5c56b;
  cursor: pointer;
}

.time-elapsed {
  color:#8c8c8e;
}

.artwork-comments-component {
  width: 320px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d9d9;
}

.header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #d8d9d9;
  height: 40px;
}

.head-border {
  padding: 9px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d9d9;
  border-radius: 5px;
  margin: 4px;
}

.zoom-bar {
  display: flex;
  width: 100px;
  padding: 0px;
}

.zoom {
  padding-left: 9px;
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0px;

}

.c1,.c2,.c3 {
  margin: 0px;
  text-align: center;
  height: 30px;
}
.c1 {
  border-right: 1px solid #d8d9d9;
  font-size: 23px;
}

.c2 {
  padding-top: 5px;
}

.c3 {
  border-left: 1px solid #d8d9d9;
  font-size: 24px;
}

img {
  border-radius: 50%;
}

.right-border {
  border-right: 1px solid #d8d9d9;
}

.left-border {
  border-left: 1px solid #d8d9d9;

}

.comments-feed {
  background-color: #f8f8f8;
  height: 300px;
}

.comment-section-outer {
  overflow-y: scroll;
  height: 300px;
  margin: 0px 0px 0px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d9d9;
  border-radius: 10px;
}

.comment-component {
  background-color: white;
  display: flex;
  border-bottom: 1px dotted #d8d9d9;
  padding-right: 10px;
}

.name {
  margin-bottom: 5px;
}

.margin-sml {
  margin-top: 7px;
  font-size: 14px;
}

.content-body {
  margin: 0px;
  font-size: 14px;
}

.comment-foot {
  display: flex;
  justify-content: flex-start;
  margin: 0px 0px 4px 0px;
}

.avatar {
  object-fit: cover;
  margin: 15px 10px;
  height: 35px;
  width: 35px;
}

.separator {
  padding: 0px 5px;
}

.bell-btn {
  width: 35px;
  text-align: center;
  padding-top: 1px;
  cursor: pointer;
}

.bell-btn:hover {
  background-color: #69cae8;
}

.bell-btn-blue {
  background-color: #69cae8;
}

.share-proof {
  align: justify;
  padding-top: 5px;
}
