body {
  font-family: Helvetica;
  color: #acaeb1;
}

.name {
  color: #69cae8;
}

.seen {
  color: #f5c56b;
}

.time-elapsed {
  color:#d7d2d0;
}

.artwork-comments-component {
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e4e4;
}

.header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e4e4e4;
}

.head-border {
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e4e4;
  border-radius: 5px;
}

.zoom-bar {
  display: flex;
  justify-content: space-around;
}

img {
  border-radius: 50%;
}

.right-border {
  border-right: 1px solid #e4e4e4;
}

.left-border {
    border-left: 1px solid #e4e4e4;

}

.comments-feed {
  background-color: #f8f8f8;
/*  height: 400px;
  overflow: hidden;*/
}

.comment-section-outer {
/*  overflow-y: auto;*/
  margin: 0px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e4e4;
  border-radius: 10px;
}

.comment-component {
  background-color: white;
  display: flex;
  border-bottom: 1px dotted #e4e4e4;
}

.comment-foot {
  display: flex;
  justify-content: flex-start;
}

.avatar {
  object-fit: cover;
  margin: 10px 10px;
  height: 40px;
  width: 40px;
}

.separator {
  padding: 0px 5px;
}

.bell-btn-blue {
  background-color: #69cae8;
}
